a.navbar-brand > img {
    width: 4rem;
    height: auto;
}

table tr > *:nth-child(2) {
    display: none;
}

@media (min-width: 768px) {
    table tr > *:nth-child(2) {
        display: table-cell;
    }
}

caption {
    display: none;
}

a {
    text-decoration: none;
}

img {
    object-fit: contain;
}

.icon-span {
    border: 2px solid #545454;
    border-radius: 20%;
    object-fit: scale-down;
    padding: 0.1rem;
}

span.icon-span > img {
    object-fit: cover;
    opacity: 0.65;
}