a.navbar-brand > img {
    width: 4rem;
    height: auto;
}

table tr > *:nth-child(2) {
    display: none;
}

@media (min-width: 768px) {
    table tr > *:nth-child(2) {
        display: table-cell;
    }
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: #ffff;
}

.icon-span {
    border: 2px solid #545454;
    border-radius: 20%;
    padding:0.2rem;
    margin-right: 1rem;
}

span.icon-span > img {
    opacity: 0.65;
    width: 1rem;
}